* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

/* Styles that provide the background behind the body */
html {
    background-image: linear-gradient(to bottom, #af700b 0%, #ffffff 100%);
}

body {
    width: 85%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 2em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

/* Header Section */

/* Nav Menu First */

#highlight {
    background-color: pink;
    padding: 10px 0;
    border-radius: 25px;
    margin-bottom: 5px;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 100%;
    padding-left: 9%;
}
#nav_menu li {
    width: 20%;

}
#nav_menu a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu a.lastitem { border-right: none; }
#nav_menu a.current { color: yellow; }

a:hover {
    color: #e87e06;
    font-size: 125%;
    text-wrap: nowrap;
}

a:active {
    color: rgb(233, 45, 3);
    font-size: 125%;
}

header img {
    float: left;
    width: 20%;
    margin-top: 30px;
    margin-right: 2em;
    margin-bottom: 1em;
    padding: .5em;
    border: .1em solid black;
    min-width: 100px;
}

#headline1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0%;
    padding-top: 1em;
}

#headline2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0%;
    margin-bottom: .5em;
}

header h1 {
    color: rgb(177, 73, 4);
    font-size: 2.6em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
}

header h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: rgb(177, 73, 4);
    font-size: 2em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
}

#super {
    font-size: 50%;
}

#second_submast {
    padding-top: .25em;
}

header h3 {
    font-size: 1.5em;
    color: rgb(55, 26, 81);
    margin-bottom: 0;
    margin-top: .25em;
}

/* Main section */

h2 {
    clear: left;
    font-size: 1.5em;
    color: rgb(55, 26, 81);
    text-align: center;
}

p {
    font-size: 1.1em;
    font-weight: 537;
    line-height: 1.25em;
}

#steps_list {
    border-bottom: .01em solid black;
}

ol.special_items {
    font-size: 110%;
    font-weight: 600;
    color: rgb(13, 13, 58);
    line-height: 1.35em;
}

#acoustic_link {
    text-align: left;
}

main {
    border-bottom: .2em solid rgb(77, 77, 77);
}

/* Footer formatting */
#copyright {
    text-align: right;
    font-size: 85%;
    margin-right: 2em;
}

/* Media Queries! */
@media only screen and (width <=1033px) {
    #nav_menu ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: auto;
        width: 100%;
        padding-left: 9%;
    }
    #nav_menu li {
        width: 85%;
    }
    #nav_menu a {
        text-align: center;
        display: block;
        padding: 1em 0;
        text-decoration: none;
        background-color: purple;
        color: white;
        font-weight: bold;
        border-right: none;
    }
}

@media only screen and (width <= 912px) {
    header h3 {
        clear: left;
    }

    #headline1 {
        flex-direction: column;
        align-items: normal;
    }

    header h1 {
        line-height: .25em;
    }
    
    #headline2 {
        clear: left;
    }

    header h3 {
        font-size: 1.25em;
    }
}

@media only screen and (width <= 590px) {
    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1.75em;
    }
    header h3 {
        font-size: 1.15em;
    }
}

@media only screen and (width <= 525px) {
    header h1 {
        font-size: 2em;
    }

    header h2 {
        line-height: 1em;
        padding: 0;
        margin: 0;
    }

    #headline2 {
        flex-direction: column;
    }
}