* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

:root {
    --deep_purple: #350035;
    --solid_gold: #b14904;
    --gold_button: #a66400;
}

/* Styles that provide the background behind the body */
html {
    background-image: linear-gradient(to bottom, #af700b 0%, #ffffff 100%);
}

body {
    width: 85%;
    background-color: #fffef9;
    margin: 15px auto;
    padding: 15px 2em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

/* Header Section */

#header {
    display: flex;
    flex-direction: column;
}

/* Nav Menu First */
#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav_menu li {
    width: 25%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #350035;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu a.lastitem {
    border-right: none;
}

#nav_menu a.current {
    color: yellow;
}

#nav_menu a:hover {
    background-color: #a66400;
    text-wrap: nowrap;
    text-shadow: .2em .2em #2a0331;
}

main a:hover {
    color: var(--deep_purple);
    font-size: 105%;
    text-wrap: nowrap;
}
a:active {
    color: rgb(233, 45, 3);
    font-size: 125%;
}

/* Header Section: HEADLINE */

header img {
    float: left;
    width: 20%;
    margin-top: 30px;
    margin-right: 3em;
    margin-bottom: 1em;
    padding: .5em .1em;
    border: .1em solid black;
    min-width: 100px;
}

#headline1 {
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
}

#headline2 {
    display: flex;
    flex-direction: row;
    line-height: 0%;
    vertical-align: top;
    padding-top: 0;
    margin-top: 0;
}

header h1 {
    color: var(--solid_gold);
    font-size: 3.25em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
    padding-bottom: 0;
    margin-bottom: 0;
    text-wrap: nowrap;
}

header h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--solid_gold);
    font-size: 2.75em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
    padding-top: 0;
    margin-top: .5em;
    text-wrap: nowrap;
}

#super {
    font-size: 50%;
}

#second_submast {
    padding-top: .17em;
}

header h3 {
    font-size: 1.75em;
    color: var(--deep_purple);
    margin-bottom: 0;
    margin-top: .25em;
}

/* Main section */

main {
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    clear: left;
    font-size: 1.5em;
    color: var(--deep_purple);
}

p {
    font-size: 1.2em;
    font-weight: 525;
    line-height: 1.25em;
}

#steps_list {
    border-bottom: .01em solid black;
}

ol.special_items {
    font-size: 110%;
    font-weight: 600;
    color: var(--deep_purple);
    line-height: 1.35em;
}

#benefits {
    font-size: 110%;
    font-weight: 500;
}

#acoustic_link {
    text-align: left;
}

/* Top Button Formatting */
#top_button ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#top_button li {
    width: 20%;
}

#top_button a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #350035;
    color: white;
    font-weight: bold;
}

#top_button a:hover {
    background-color: #a66400;
    font-size: 100%;
    text-wrap: nowrap;
    text-shadow: .2em .2em #2a0331;
}

main {
    border-bottom: .2em solid rgb(77, 77, 77);
}

/* Footer formatting */
#copyright {
    text-align: right;
    font-size: 85%;
    margin-right: 2em;
}

/* Media Queries! */
@media only screen and (width <=1110px) {
    #headline1 {
        flex-direction: column;
    }

    #first_submast {
        padding-top: 0;
        margin-top: 0;
    }

    #headline2 {
        clear: left;
    }

    header img {
        margin-right: 7em;
    }

    #headline2 {
        padding-left: 5em;
    }

    header h3 {
        padding-left: 4em;
    }

    #top {
        padding: 1em 1em 1em .75em;
    }
}

@media only screen and (width <= 897px) {
    #headline2 {
        display: flex;
        flex-direction: column;
        line-height: 0%;
        vertical-align: top;
        padding-top: 0;
        margin-top: 0;
    }
}

@media only screen and (width <= 795px) {
    #headline1 {
        clear: left;
    }
    header img {
        float: none;
        width: auto;
        margin-top: 1em;
        margin-left: 30%;
        padding: .5em .1em;
        border: .1em solid black;
        min-width: 100px;
        margin-bottom: 0;
    }
    #headline1 {
        padding-top: none;
        margin-top: none;
    }
}

@media only screen and (width <= 660px) {
    #nav_menu ul {
        flex-direction: column;
    }
    #nav_menu li {
        width: 100%;
    }
    #nav_menu a {
        border-right: none;
    }
    #headline1 {
        clear: left;
    }
}