* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

/* Styles that provide the background behind the body */
html {
    background-image: linear-gradient(to bottom, #af700b 0%, #ffffff 100%);
}

body {
    width: 85%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 2em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

header div {
    /*border-top: 2px solid black;
    border-bottom: 2px solid black;*/
    background-color: pink;
    padding: 10px 0;
    border-radius: 25px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 100%;
    padding-left: 9%;
}
li {
    width: 20%;
    /*margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;*/
}
a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
a.lastitem { border-right: none; }
a.current { color: yellow; }

a:hover {
    color: #e87e06;
    font-size: 125%;
    text-wrap: nowrap;
}

a:active {
    color: rgb(233, 45, 3);
    font-size: 125%;
}

/*#test_nav ul { list-style-type: none; }
#test_nav ul li { float: left; }
#test_nav ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0; 
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#test_nav ul li a.lastitem { border-right: none; }
#test_nav ul li a.current { color: yellow; }*/