* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

:root {
    --deep_purple: #350035;
    --solid_gold: #b14904;
    --gold_button: #a66400;
}

/* Styles that provide the background behind the body */
html {
    background-image: linear-gradient(to bottom, #af700b 0%, #ffffff 100%);
}

body {
    width: 85%;
    background-color: #fffef9;
    margin: 15px auto;
    padding: 15px 2em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

/* Header Section */

#header {
    display: flex;
    flex-direction: column;
}

/* Nav Menu First */
#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav_menu li {
    width: 25%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #350035;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu a.lastitem {
    border-right: none;
}

#nav_menu a.current {
    color: yellow;
}

#nav_menu a:hover {
    background-color: #a66400;
    text-wrap: nowrap;
    text-shadow: .2em .2em #2a0331;
}

main a:hover {
    color: var(--deep_purple);
    font-size: 105%;
    text-wrap: nowrap;
}
a:active {
    color: rgb(233, 45, 3);
    font-size: 125%;
}

/* Header Section: HEADLINE */

header img {
    float: left;
    width: 20%;
    margin-top: 30px;
    margin-right: 3em;
    margin-bottom: 2em;
    padding: .5em .1em;
    border: .1em solid black;
    min-width: 100px;
}

#headline1 {
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
}

#headline2 {
    display: flex;
    flex-direction: row;
    line-height: 0%;
    vertical-align: top;
    padding-top: 0;
    margin-top: 0;
}

header h1 {
    color: var(--solid_gold);
    font-size: 3.25em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
    margin-top: .25em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-wrap: nowrap;
}

header h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--solid_gold);
    font-size: 2.75em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
    padding-top: 0;
    margin-top: .5em;
    text-wrap: nowrap;
}

#first_submast {
    margin: 0;
    padding: 0;
}

#super {
    font-size: 50%;
}

#second_submast {
    padding-top: .17em;
}

header h3 {
    font-size: 1.75em;
    color: var(--deep_purple);
    margin-bottom: 0;
    margin-top: .25em;
}

/* Main Section */

main h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}

p {
    font-size: 1.1em;
    line-height: normal;
}

main {
    border-bottom: .2em solid rgb(77, 77, 77);
}

#columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
}

#texty {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#guit_anatomy {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: auto;
}

#block_header {
    display: block;
    padding: 0 .5em;
    margin-top: 0;
    margin-right: 3em;
    background-color: var(--deep_purple);
    color: white;
    font-size: 2em;
    text-align: center;
    width: 80%
}

#guit_pic {
    display: block;
    width: 25%;
}

.text-columns {
    width: 25%;
    padding: 0 2em 0 1em;
    border-right: solid var(--solid_gold);
}

.text-columns img {
    width: auto;
}

#pick {
    margin-bottom: .7em;
}

/* Footer formatting */
#copyright {
    text-align: right;
    font-size: 85%;
    margin-right: 2em;
}

/* Media Queries! */
@media only screen and (width <= 1124px) {
    header h3 {
        clear: left;
        text-align: center;
    }
}

@media only screen and (width <= 1070px) {
    #columns {
        flex: none;
    }

    #texty {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .text-columns {
        width: 85%;
        padding: 0 2em 0 1em;
        border-right: solid var(--solid_gold);
    }

    .text-columns img {
        float: left;
        margin-right: 2em;
        margin-bottom: 1em;
    }
}

@media only screen and (width <= 771px) {
    #clear_hands {
        clear: left;
    }
}

@media only screen and (width <= 752px) {
    #nav_menu ul {
        flex-direction: column;
    }
    #nav_menu li {
        width: 100%;
    }
    #nav_menu a {
        border-right: none;
    }
    #headline1 {
        clear: left;
    }

    header img {
        float: none;
        width: auto;
        margin-top: 1em;
        margin-left: 30%;
        padding: .5em .1em;
        border: .1em solid black;
        min-width: 100px;
    }

    header h1 {
        color: var(--solid_gold);
        font-size: 3.25em;
        font-weight: 900;
        text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        text-wrap: nowrap;
    }
}

@media only screen and (width <= 618px) {
    #columns {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}