* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

/* Styles that provide the background behind the body */
html {
    background-image: linear-gradient(to bottom, #af700b 0%, #ffffff 100%);
}

body {
    width: 85%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 2em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
/* Header Section */

/* Nav Menu First */
#highlight {
    background-color: pink;
    padding: 10px 0;
    border-radius: 25px;
    margin-bottom: 5px;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 100%;
    padding-left: 9%;
}
#nav_menu li {
    width: 20%;

}
#nav_menu a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu a.lastitem { border-right: none; }
#nav_menu a.current { color: yellow; }

a:hover {
    color: #e87e06;
    font-size: 125%;
    text-wrap: nowrap;
}

a:active {
    color: rgb(233, 45, 3);
    font-size: 125%;
}

header img {
    float: left;
    width: 20%;
    margin-top: 0;
    margin-right: 2em;
    margin-bottom: 1em;
    padding: .5em;
    border: .1em solid black;
    min-width: 100px;
}

#headline1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0%;
    padding-top: 1em;
}

#headline2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25em;
    line-height: 2em;
    margin-bottom: .5em;
}

header h1 {
    color: rgb(177, 73, 4);
    font-size: 2.6em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
}

header h2 {
    color: rgb(177, 73, 4);
    font-size: 2em;
    font-weight: 900;
    text-shadow: .05em .03em .03em rgba(38, 6, 44, .5);
}

#super {
    font-size: 50%;
}

#second_submast {
    padding-top: .25em;
}

header h3 {
    font-size: 1.5em;
    color: rgb(55, 26, 81);
    margin-bottom: 0;
    margin-top: .25em;
}

h2#acoustic_page {
    clear: left;
    font-size: 1.25em;
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid #80520d;
    padding: 1em 0;
    border-top: 1px solid black;
}

article img {
    width: 35%;
    float: left;
    border: .5px solid black;
    margin-right: 1em;
}

/* Main Section */
main {
    display: flex;
    flex-direction: row;
}

#guit_pic img {
    size: auto;
}

main h2 {
    font-size: 1.5em;
    text-align: center;
    clear: left;
    margin-bottom: 0;
}

main {
    border-bottom: .2em solid rgb(77, 77, 77);
}

h3 {
    line-height: .1em;
}

h1,
h2,
h3 {
    font-size: 175%;
    color: rgb(55, 26, 81);
    margin-bottom: 0;
}

p {
    font-size: 100%;
    font-weight: 537;
    line-height: 1.25em;
}

ol.special_items {
    font-size: 110%;
    font-weight: 600;
    color: rgb(13, 13, 58);
    line-height: 1.35em;
}

#steps_list {
    border-bottom: .01em solid black;
}

ul li {
    font-size: 115%;
    font-weight: 400;
    line-height: 1.5rem;
}

#acoustic_link {
    font-size: 150%;
    color: rgb(55, 26, 81);
    margin-bottom: .5em;
}

#guit_link {
    font-size: larger;
    /*text-align: center;*/
}

a:hover {
    color: rgb(79, 5, 70);
    font-size: 125%;
}

a:active {
    color: rgb(233, 45, 3);
    font-size: 125%;
}

/* Footer formatting */
#copyright {
    text-align: right;
    font-size: 85%;
    margin-right: 2em;
}

/* Media Queries Begin HERE! */
@media only screen and (width <=1033px) {
    #nav_menu ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: auto;
        width: 100%;
        padding-left: 9%;
    }
    #nav_menu li {
        width: 85%;
    }
    #nav_menu a {
        text-align: center;
        display: block;
        padding: 1em 0;
        text-decoration: none;
        background-color: purple;
        color: white;
        font-weight: bold;
        border-right: none;
    }
}

@media only screen and (width <= 800px) {
    div h1.page_head {
        font-size: 2em;
    }
    div h1.sub_head {
        font-size: 1.5em;
    }

    #mast_head {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #sub_mast {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header h3 {
        font-size: 1em;
    }

    main h2 {
        font-size: 1.25em;
    }

    #sub_mast {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header h3 {
        font-size: 1.25em;
        margin-bottom: 0;
        margin-top: 1.5em;
        /*text-align: center;*/
    }
}

@media only screen and (width <= 746px) {
    header h3 {
        clear: left;
        text-align: center;
    }
}

@media only screen and (width <= 660px) {
    #nav_menu ul {
        flex-direction: column;
        align-items: center;
    }

    #mast_head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #acoustic_link {
        font-size: 1.25em;
    }

    article {
        column-count: 2;
        column-gap: 35px;
        column-rule: 2px solid #80520d;
        padding: 1em 0;
        border-top: 1px solid black;
    }
}

/* Media Queries! */
@media only screen and (width <=1033px) {
    #nav_menu ul {
        flex-direction: column;
        align-items: center;
        text-wrap: nowrap;
    }
}

@media only screen and (width <= 958px) {
    header h3 {
        clear: left;
    }

    #headline1 {
        flex-direction: column;
        align-items: normal;
    }

    header h1 {
        line-height: .5em;
    }

    header h3 {
        font-size: 1.25em;
    }
}

@media only screen and (width <= 590px) {
    header h2 {
        font-size: 1.75em;
    }
    header h3 {
        font-size: 1.15em;
    }
}